<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="utf-8"/>
    <title>Виникла непердбачена помилка</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta name="MobileOptimized" content="320">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
    <link href="{{ asset('bootstrap/dist/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('dist/error.min.css') }}" type="text/css" rel="stylesheet"/>   
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>

</head>
<body class="page-500-full-page">
<div class="row">
    <div class="col-md-12 page-500">
        <div class="number">
            <img src="{{ asset('img/dead-emoji@128.png') }}" alt="500">
        </div>
        <div class="details" style="position: relative;top:50px">
            <h3>Виникла непередбачена помилка</h3>
            <p>Код помилки: 500</p>
            <p>На жаль, Ваш запит не був оброблений успішно.
                <br>Команда розробки була оповіщена про помилку.
                <br>Приносимо вибачення за незручності.
            </p>
            <p>Будь-ласка, поверніться на</p>
            <div class="text-center">
                <a href="{{ url('index') }}" class="btn btn-success btn-lg"> Головну сторінку </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>