<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
        <meta name="author" content="Gram <gram7gram@gmail>">
        <meta name="version" content="{{ spa_version }}">

        <title>{% block title %}{% endblock %}</title>

        <link rel="icon" type="image/jpg" href="{{ asset('favicon@16.jpg') }}" sizes="16x16"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
        <link rel="stylesheet" href="{{ asset('bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bootstrap/dist/css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('themes/index.css') }}?v={{ spa_version }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        <script
                src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4"
                crossorigin="anonymous"></script>

        <script>
            var __GC_SPA_PARAMETERS__ = {
                version: '{{ spa_version }}',
                monitoring: {
                    token: '{{ spa_monitoring_token }}',
                    project: '{{ spa_monitoring_project }}',
                }
            }
        </script>
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('dist/scroller.js') }}"></script>
    </body>
</html>
