{% extends '::base.html.twig' %}

{% block title %}Чудові акції від білого вугілля{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background: black !important;
        }

        #offer-golden-coal {
            background: url({{ asset('img/background.jpg') }}) #ffed00 no-repeat center center fixed !important;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        #offer-white-coal {
            background: url({{ asset('img/white-coal/background.jpg') }}) #0d2d52 no-repeat center center fixed !important;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        html, body, .wrapper {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            border: 0;
        }

        .promo:hover .img-responsive{
            transform: scale(1.1);
            transition-duration: 0.8s;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="container-fluid" style="height: 100%;">
        <div class="row" style="height: 100%;">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 no-padding" style="height: 100%;">
                <div id="offer-golden-coal" class="promo" style="height: 100%;">
                    <table class="wrapper">
                        <tr>
                            <td>
                                <a href="{{ path('event_index', {'code': 'golden-coal'}) }}">
                                    <img src="{{ asset('img/promo-banner.png') }}" alt="Promo 1"
                                         class="img-responsive"/>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 no-padding" style="height: 100%;">
                <div id="offer-white-coal" class="promo" style="height: 100%;">
                    <table class="wrapper">
                        <tr>
                            <td>
                                <a href="{{ path('event_index', {'code': 'white-coal'}) }}">
                                    <img src="{{ asset('img/white-coal/promo-banner.jpg') }}" alt="Promo 2"
                                         class="img-responsive"/>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
