{% extends '::base.html.twig' %}

{% block title %}Золотий смартфон* від Білого Вугілля{% endblock %}

{% set params = app.request.attributes.get('_route_params') %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('themes/golden-coal/index.css') }}?v=1.0.14">
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="promo">
                    <img src="{{ asset('img/promo-banner.png') }}" alt="Prize" class="img-responsive"/>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                        <div class="form-group text-center" style="background: #fbd101;padding: 10px 0;">
                            <h1 class="bold" style="color:white">АКЦІЯ ЗАВЕРШЕНА</h1>
                            <h2 class="bold" style="color:white">Очікуйте на новини<br>12 грудня</h2>

                        </div>
                        <div class="form-group">
                            <a href="{{ path('participant_index', {'code': params.code}) }}"
                               class="btn btn-lg btn-block btn-primary uppercase">Перелік учасників</a>
                        </div>
                        <div class="form-group">
                            <a href="{{ path('winner_index', {'code': params.code}) }}"
                               class="btn btn-lg btn-block btn-primary uppercase">Переможці акції</a>
                        </div>
                        <div class="form-group">
                            <a href="{{ path('contact_index') }}"
                               class="btn btn-lg btn-block btn-primary uppercase">Задати питання</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
