{% extends '::base.html.twig' %}

{% block title %}Учасники акції: {{ event.name }}{% endblock %}

{% set params = app.request.attributes.get('_route_params') %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('themes/golden-coal/index.css') }}?v=1.0.14">
{% endblock %}

{% block body %}
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="offer-container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                            <div class="promo">
                                <a href="{{ path('event_index', {'code': params.code}) }}">
                                    <img src="{{ asset('img/promo-banner.png') }}" alt="Prize" class="img-responsive"/>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                            <div id="participant-app"></div>
                        </div>
                    </div>


                    <br/>
                    <br/>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group text-center">
                                <a href="{{ path('contact_index') }}"
                                   class="btn btn-lg btn-primary uppercase">Задати питання</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var ParticipationRouter = {
            GET: {
                participants: '{{ path('api_v1_participant_gets', {'id': 2}) }}'
            }
        }

    </script>
    <script src="{{ asset('dist/Participant.js') }}?v=1.0.0"></script>
{% endblock %}

