{% extends '::base.html.twig' %}

{% block title %}Реєстрація{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('themes/golden-coal/index.css') }}?v={{ spa_version }}">
{% endblock %}

{% block body %}
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    <div id="register-golden-coal-app"></div>

    {{ include('@GramEvent/Sitemap/golden-coal/footer.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script>
        var RegisterRouter = {
            GET: {
                index: '{{ path('index') }}'
            },
            POST: {
                participants: '{{ path('api_v1_participant_post', {'id': event.id}) }}'
            }
        }

    </script>
    <script src="{{ asset('dist/RegisterGoldenCoal.js') }}?v={{ spa_version }}"></script>
{% endblock %}

