{% extends '::base.html.twig' %}

{% block title %}Задати питання{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('themes/white-coal/index.css') }}?v={{ spa_version }}">
{% endblock %}

{% block body %}
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div id="contact-app"></div>

    {{ include('@GramEvent/Sitemap/white-coal/footer.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script>
        var RegisterRouter = {
            GET: {
                regions: '{{ path('api_v1_region_gets') }}',
            }
        }

        var ContactRouter = {
            GET: {
                index: '{{ path('index') }}'
            },
            POST: {
                contacts: '{{ path('api_v1_contact_post') }}'
            }
        }

        var ContactResources = {
            tokens: {
                contact: ''
            }
        }
    </script>
    <script src="{{ asset('dist/Contact.js') }}?v={{ spa_version }}"></script>
{% endblock %}
