{% extends '::base.html.twig' %}

{% block title %}Задати питання{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('themes/white-coal/index.css') }}?v=1.0.14">
{% endblock %}

{% block body %}
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div id="contact-app"></div>
{% endblock %}

{% block javascripts %}
    <script>
        var ContactRouter = {
            GET: {
                index: '{{ path('index') }}'
            },
            POST: {
                contacts: '{{ path('api_v1_contact_post') }}'
            }
        }

        var ContactResources = {
            tokens: {
                contact: ''
            }
        }
    </script>
    <script src="{{ asset('dist/Contact.js') }}?v=1.0.0"></script>
{% endblock %}
