{% extends '::base.html.twig' %}

{% block title %}Реєстрація{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('themes/white-coal/index.css') }}?v={{ spa_version }}">
{% endblock %}

{% block body %}
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    <div id="register-white-coal-app"></div>
{% endblock %}

{% block javascripts %}
    <script>
        var RegisterRouter = {
            GET: {
                index: '{{ path('index') }}',
                pharmacyTypes: '{{ path('api_v1_pharmacy_type_gets') }}',
                positions: '{{ path('api_v1_position_gets') }}',
                regions: '{{ path('api_v1_region_gets') }}',
            },
            POST: {
                participants: '{{ path('api_v1_participant_post', {'id': event.id}) }}'
            }
        }

    </script>
    <script src="{{ asset('dist/RegisterWhiteCoal.js') }}?v={{ spa_version }}"></script>
{% endblock %}

