{% extends '::base.html.twig' %}

{% block title %}Переможці акції: {{ event.name }}{% endblock %}

{% set params = app.request.attributes.get('_route_params') %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('themes/white-coal/index.css') }}?v={{ spa_version }}">
{% endblock %}

{% block body %}
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="offer-container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="promo">
                                <a href="{{ path('event_index', {'code': params.code}) }}">
                                    <img src="{{ asset('img/white-coal/about-promo-1@400.png') }}" alt="Prize"
                                         class="img-responsive"/>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div id="pharmacy-winner-app"></div>
                        </div>
                    </div>

                    <br/>
                    <br/>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group text-center">
                                <a href="{{ path('contact_index', {'code': params.code}) }}"
                                   class="btn btn-lg btn-primary uppercase">Задати питання</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {{ include('@GramEvent/Sitemap/golden-coal/footer.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script>
        var RegisterRouter = {
            GET: {
                regions: '{{ path('api_v1_region_gets') }}',
            }
        }
        var WinnerRouter = {
            GET: {
                winners: '{{ path('api_v1_winner_pharmacy_gets', {'id': event.id}) }}',
            },
            POST: {
                contacts: '{{ path('api_v1_winner_contact_post') }}'
            }
        }

    </script>
    <script src="{{ asset('dist/PharmacyWinner.js') }}?v={{ spa_version }}"></script>
{% endblock %}

